torch==1.13.0+cu117
torchvision==0.14.0+cu117
torchaudio===0.13.0+cu117
Pillow===9.3.0
numpy==1.22.0
Flask==2.0.2
waitress==2.1.2
accelerate==0.11.0
datasets==2.3.2
diffusers==0.10.2
tensorboard==2.12.0
